/* 
    Document   : main
    Created on : 2013/06/10, 14:36:36
    Author     : noro
    Description:
        Purpose of the stylesheet follows.
*/

.contents{
  text-align: center;
  font-size: 20px;
  margin-top :50px
}
